ul {
    background-color: blue;
    list-style-type: none;
    /*Gets rid of Bullets*/
    position: fixed;
    width: 100%;
    text-align: center;
}

ul li{
    display: inline-block;
    /*Makes the list horizontal*/
    padding: 10px;
    /*Creates space between items*/
}

.logo{
    float:left
}

a {
    color: white;
    border: 10px
}

a:hover {
    background-color: pink;
    /*When curser hover over elements makes background color pink*/
}

a:visited {
    color: green;
    /*Change color of visited links to green*/
}

header, nav, aside, footer, style{
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    width: 100%;
    margin: 5px 0px;
}
aside:nth-child(1){
    width: 60%;
    height: 400px;
}
aside:nth-child(2){
    width:38%;
    float:right;
    height: 400px;
}